input {
  margin-right: 10px;
  width: 100%;
}

.container {
  padding-left: 0px;

  .row {
    padding-bottom: 20px;
  }
  .indent-right {
    margin-left: 9px;
  }

  input {
    margin-right: 10px;
    width: 100%;
  }
}
