input {
  margin-right: 10px;
  width: 100%;
}

.container {
  margin-top: 10px;
  padding-left: 0px;
  padding-right: 0px;

  .sect-1 {
    color: inherit;
    border: 1px solid lightgrey;
  }

  .sect-2 {
    color: purple;
    border: 1px solid purple;
  }

  .sect-3 {
    color: rgb(93, 225, 225);
    border: 1px solid rgb(93, 225, 225);
  }

  .row {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 15px;

    .label {
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 500;
    }
  }

  .row:not(:first-child) {
    margin-top: 30px;
  }

  .indent-right {
    margin-left: 9px;
  }

  input {
    margin-right: 10px;
    width: 100%;
  }
}
