@import '../../../styles.scss';

.card {
  .card-header {
    text-transform: uppercase;
    text-align: center;
    // background-color: $teal;
  }
  .col-header {
    // background-color: teal lighten-5;
    padding-top: 10px;
    padding-bottom: 10px;
    .col-heading {
      // text-transform: uppercase;
      font-size: 12px;
      font-weight: 700;
    }
  }
  .row {
    .card-title {
      text-transform: uppercase;
    }
  }
}

:host ::ng-deep .tabs__panel {
  .tabs__tab-bar {
    background-color: $teal !important;
  }
  background-color: white !important;
  box-shadow: none !important;
}

:host::ng-deep [_nghost-c7] {
  padding: 0px;
  min-height: 0px;
}

[_nghost-c9] {
  padding: 0px;
  margin: 0px;
  position: relative;
  min-height: 0px;
}
