<app-navbar></app-navbar>
<!-- Main -->
<div class='container-fluid'>
  <app-result-summary [isHidden]='isHidden' [purchase]='purchase' [income]='income' [expenses]='expenses' [sell]='sell'></app-result-summary>

  <app-purchase-details [purchase]='purchase' [isHidden]='isHidden'></app-purchase-details>

  <app-income-details [income]='income' [isHidden]="isHidden"></app-income-details>

  <app-expenses-details [expenses]='expenses' [isHidden]='isHidden'></app-expenses-details>

  <app-sell-details [isHidden]='isHidden' [sell]='sell'></app-sell-details>
</div>
