<mdb-card [class.panel-success]='justViewed'>
  <mdb-card-header class="deep-orange lighten-1 white-text text-center" style="cursor: pointer" (click)='isHidden = !isHidden'>
    <ng-content select='.title'></ng-content>
  </mdb-card-header>
  <mdb-card-body class='panel-body' [hidden]='isHidden'>
    <mdb-card-text>
      <ng-content select='.panel-body'></ng-content>
    </mdb-card-text>
  </mdb-card-body>
  <mdb-card-footer class="text-muted  white-text panel-footer text-right" [hidden]='isHidden'>
    <ng-content select='.panel-footer'></ng-content>
  </mdb-card-footer>
</mdb-card>
